# following lines ignore everything 'make' command produces
hardware/simulation/icarus/*
!hardware/simulation/icarus/Makefile

software/*
!software/iob-cache.c
!software/iob-cache.h
!software/software.mk

document/*
!document/features.tex
!document/intro.tex
!document/title.tex
!document/figures/
!document/pb/
!document/ug/

document/figures/*
!document/figures/bd.odg
!document/figures/symb.odg
!document/figures/Makefile

document/pb/*
!document/pb/pb.pdf
!document/pb/Makefile

document/ug/*
!document/ug/is.tex
!document/ug/ug.pdf
!document/ug/Makefile

hardware/fpga/quartus/CYCLONEV-GT/
hardware/fpga/vivado/XCKU/

hardware/asic/umc130/synth/*_report.txt
