[submodule "submodules/INTERCON"]
	path = submodules/INTERCON
	url = git@github.com:IObundle/iob-interconnect.git
[submodule "submodules/MEM"]
	path = submodules/MEM
	url = git@github.com:IObundle/iob-mem.git
[submodule "submodules/AXIMEM"]
	path = submodules/AXIMEM
	url = git@github.com:IObundle/verilog-axi.git
